.content{
    display: flex;
    
    height: 210px;
    
    justify-content: space-between;
}

.about-us{
    display: flex;
    
    flex-basis: 75%;
    background-color: gainsboro;
    justify-content: center;
    align-items: center;
}

.qlinks {
    width: 300px;
    height: 100px;
    
    margin-bottom: 5px;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
}